<div class="holder">
    <div class="greet_section">
        <h2 class="h2_greet">Greeted List</h2>
    </div>
    <div class="list" style="text-align: center;">
        {{#each data}}
            <a href="/count/{{name}}">{{name}}</a> <br>
        {{/each}}
    </div>
</div>