<div class="holder">
    <div class="greet_section">
        <h2 class="h2_greet">Greeted for {{data.name}}</h2>
    </div>
    <div class="list" style="text-align: center;">
            <p>Hello, {{data.name}} has been greeted {{data.num}} times</p> <br>
    </div>
    <section class="style" style="text-align: right;">
        <button style="width: 20%; height: 40px; font-weight:bolder; border: 1px white; border-radius: 7%;" type="button"><a style="text-decoration : none; color:rgba(0, 0, 0, 0.473);" href="/back">Back</a></button>
    </section>
</div>