<div class="holder">
    <div class="greet_section">
        <h2 class="h2_greet">Greeted for {{data.name}}</h2>
    </div>
    <div class="list" style="text-align: center;">
            <p>Hello, {{data.name}} has been greeted {{data.num}} times</p> <br>
    </div>
</div>